@import url(reset.css);

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 5%;
    background-color: rgb(219, 76, 63);
}

.functionality-button,
#edit-expanded-todo-button {
    width: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#toggle-navigation-list-button {
    padding: 0;
    fill: white;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

main {
    display: flex;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 13%;
    gap: 4%;
    background-color: rgb(251, 251, 251);
    box-shadow: 6px -1px 5px 0px rgba(0,0,0,0.03);
    -webkit-box-shadow: 6px -1px 5px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 6px -1px 5px 0px rgba(0,0,0,0.03);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    cursor: pointer;
}

.project,
.created-projects-header {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}

.created-projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.19%;
}

.project:hover,
.created-projects-header:hover {
    background-color: rgb(245, 245, 245);
}

.created-projects-title {
    font-size: 22px;
    font-weight: 600;
}

.header-buttons {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    font-size: 18px;
    gap: 10px;
    background-color: rgb(65, 65, 65);
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 2% 20%;
}

.todo-form,
.project-form,
.edit-todo-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2.5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(193, 193, 193);
}

.todo-form #title,
.project-form #title,
.edit-todo-form #title {
    font-size: 18px;
    font-weight: 600;
}

.todo-form .interactive-inputs,
.edit-todo-form .interactive-inputs {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.todo-form hr,
.edit-todo-form hr {
    margin: 15px 0;
    width: 100%;
}

.todo-form legend,
.edit-todo-form legend {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(125, 125, 121);
}

.todo-form .lower-form,
.edit-todo-form .lower-form {
    display: flex;
    justify-content: space-between;
}

.current-project-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
}

.todo-form .buttons-area,
.project-form .buttons-area,
.edit-todo-form .buttons-area {
    display: flex;
    gap: 10px;
}

.todo-form .interactive-button,
.project-form .interactive-button,
.edit-todo-form .interactive-button {
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#add-todo-button,
#add-project-button {
    color: white;
    cursor: not-allowed;
    background-color: rgb(242, 162, 155);
}

#cancel-button {
    background-color: rgb(239, 239, 239);
    transition: background-color .2s ease-in-out;
}

.current-project-display:hover {
    background-color: rgb(245, 245, 245);
}

#cancel-button:hover {
    background-color: rgb(226, 226, 226);
}

.project-form hr,
.expanded-todo hr {
    width: 100%;
    margin-bottom: 15px;
}

.project-form .lower-form {
    display: flex;
    justify-content: flex-end;
}

.add-todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-todo-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-todo-button {
    cursor: pointer;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    transition: border .2s ease-in-out, background-color .2s ease-in-out;
}

.add-todo-button:hover {
    background-color: rgb(245, 245, 245);
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(193, 193, 193);
    cursor: pointer;
}

#delete-button {
    display: flex;
}

#high-priority-todo {
    background-color: rgb(239, 120, 111);
}

#medium-priority-todo {
    background-color: rgb(244, 179, 174);
}

.expanded-todo {
    display: flex;
    flex-direction: column;
    padding: 2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(193, 193, 193);
}

.expanded-todo-upper-container,
.expanded-todo-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expanded-todo-bottom-container {
    justify-content: flex-start;
    gap: 30px;
}

.expanded-todo-title {
    font-weight: 600;
    font-size: 2vw;
    font-style: italic;
}

.expanded-todo-description {
    font-size: 1.2vw;
    margin-bottom: 30px;
}